<script setup>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import AppLayout from '@/Layouts/AppLayout.vue';
    import Welcome from '@/Components/Welcome.vue'

</script>

<template>
    <AppLayout title="Dashboard">
        <Head title="Welcome" />

        <Welcome />
    </AppLayout>
</template>
