// Import all of Bootstrap's CSS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.hero{
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    min-height: 150px;
}

.mainbackground{
    background-repeat: no-repeat;
    background-size: unset;
    background-position: bottom right;
    min-height: 310px;
}

.hero-logo,
.footer-logo{
    .afill{
        fill: #ffffff;
        filter: brightness(150%);
    }
}


.footer{
    background-color: #111111;
    color: $white;
    font-size: 14px;
    line-height:24px;

    p{
        opacity: .6;
    }
}

.featurette-heading{
    font-size: 50px;
}

.content-seperateor{
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}

.fixed-navigation{
    position: fixed;
    z-index: 10;
}

.river-heading{
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 700;
}

.lead{
    font-size: 28px;
    line-height: 40px;
}

.river-heading-para{
    margin-top:50px;
    margin-bottom: 50px;
}

.lead-heading-2{
    margin-top:50px;
    font-size: 28px;
    line-height: 40px;
}

.prefix-hr{
    border-top: 2px solid #000000;
}

.copyrights{
    font-size: 14px;
    line-height: 24px;
}

.list-counter{
    font-size: 16px;
    line-height: 50px;
}

.list-content{
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
    opacity: .7;
}

.btn-primary{
    background-color: #000000;
    border:none;
    padding:10px 35px;
    border-radius: 5px;
}

#bookingdate{
    line-height:32px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}


.element-ui-adjustment .el-input__wrapper{
  height: 38px;
}

@include media-breakpoint-up(md) {
    .hero{
        height: auto;
        min-height: 700px;
    }

    .content-seperateor{
        margin-top: 50px;
        margin-bottom: 50px;
        border: none;
    }
}


