<script setup>
import {ref} from 'vue';
import { useForm } from '@inertiajs/inertia-vue3';
import Header from '@/Sections/Header.vue'
import { ElMessage } from 'element-plus'
import Bookinglist from '@/Sections/Bookinglist.vue'
import axios from "axios";

const dateselect = ref('');
const timeselect = ref('');
const bookingdate = ref('');
const submitsuccess = ref(false);
const isloading = ref(false);

const msgsuccess = () => {
    ElMessage({
        message: 'Thank you for your booking.',
        type: 'success',
    })
}

const msgerror = (message) => {
    ElMessage({
        message: message,
        type: 'error',
    })
}

const form = useForm({
    name: '',
    bookingdate: '',
    message:''
});

let editedfields = new Set();

const convertTime12to24 = (time12h) => {
    const [time, modifier] = time12h.split(' ');

    let [hours, minutes] = time.split(':');

    if (hours === '12') {
        hours = '00';
    }

    if (modifier === 'PM') {
        hours = parseInt(hours, 10) + 12;
    }

    return [hours, minutes];
}


const getISOTime = () => {
    if(!timeselect.value) return;
    var timestring = convertTime12to24(timeselect.value);
    var date = new Date(dateselect.value).setHours(timestring[0], timestring[1]);
    return new Date(date).toISOString().slice(0, 19).replace('T', ' ');
}

const setBooking = () => {
    form.bookingdate = getISOTime();

    isloading.value = true;
        axios.post(route('apibookings'),form)
        .then(res => {
            if(res.status==200 && res.data.success==true){
                form.reset()
                submitsuccess.vale = true;
                isloading.value = false;
                msgsuccess();
            }
            //store.commit('SETSUBSCRIBESTAT', res.data.data);
        }).catch(error => {
            isloading.value = false;
            if (error.response) {
                msgerror(error.response.data.message)
            } else if (error.request) {
                msgerror(error.request)
                console.log(error.request);
            } else {
                msgerror(error.message)
            }
    })
}

</script>

<template>
    <Header />

    <hr class="content-seperateor">

    <div class="container marketing">
        <div class="row">
            <div class="col-md-7 d-flex flex-row justify-content-center align-items-center">
                <div class="prefix col-md-2 mx-4 d-none d-md-block"><hr class="prefix-hr" /></div>
                <div class="col-12 col-md-10">
                    <h2 class="river-heading">heading</h2>
                    <p class="river-heading-para">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    <p><el-button>Book Now</el-button></p>
                </div>
            </div>
        </div>
    </div>

    <hr class="content-seperateor">

    <div class="container marketing">
        <div class="row d-flex flex-row justify-content-center align-items-center">
            <div class="col-md-6">
                <img src="/public/image-water.png" alt="Image water" class="img-fluid" />
            </div>
            <div class="col-md-6 d-flex flex-row justify-content-center align-items-center">
                <div class="prefix col-md-2 mx-4 d-none d-md-block"><hr class="prefix-hr" /></div>
                <div class="col-12 col-md-10">
                    <p class="lead">Lorem ipsum dolor sit amet, consetetur.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="content-seperateor">

    <div class="container marketing">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="river-heading">heading</h2>
                <p class="lead-heading-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
            </div>
            <div class="col-md-6 d-flex flex-row justify-content-center align-items-center">

                <form @submit.prevent="setBooking(this)" v-if="!submitsuccess">
                    <input type="hidden" name="bookingdate" v-model="form.bookingdate" />
                    <div class="input-group mb-3">
                        <input type="text"
                               class="form-control"
                               name="name"
                               v-model="form.name"
                               placeholder="Your Name"
                               aria-label="Name"
                               aria-describedby="basic-addon1">
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3 element-ui-adjustment flex-nowrap">
                                <span class="input-group-text bg-transparent">
                                    <svgicon name="IconDate" />
                                </span>
                                <el-date-picker
                                    name="bday"
                                    v-model="dateselect"
                                    type="date"
                                    format="DD/MM/YYYY"
                                    placeholder="Pick a day"
                                    prefix-icon="none"
                                    id="bookingdate"
                                >
                                </el-date-picker>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-transparent">
                                    <svgicon name="IconDate" />
                                </span>
                                <el-time-select
                                    name="btime"
                                    v-model="timeselect"
                                    start="00:00"
                                    step="00:30"
                                    end="23:59"
                                    placeholder="Select a time"
                                    format="hh:mm A"
                                    class="form-control"
                                    prefix-icon="none">
                                </el-time-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <textarea class="form-control"
                                      placeholder="Your Message" name="message" v-model="form.message"></textarea>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col">
                            <button class="btn btn-primary" type="submit">
                                {{ !isloading?"Place Booking":"Loading" }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr class="content-seperateor">

    <Bookinglist />
</template>
