<script setup>
import {ref, watch} from 'vue';
import axios from "axios";
import {ElMessage} from "element-plus";

const bookings = ref(false);
const listcount = ref(false);

const msgerror = (message) => {
    ElMessage({
        message: message,
        type: 'error',
    })
}

const formatAMPM = (utcoffset) => {
    var date = new Date(utcoffset);
    var hours = date.getHours();
    var minutes = date.getMinutes();

    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}

const formatDay = (utcoffset) => {
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var month = months[utcoffset.getMonth()];

    var day = utcoffset.getDate()
    var year = utcoffset.getFullYear();

    var strTime = month + ' ' + day + ' ' + year;
    return strTime;
}


const getUTCTime = (isodate, time=false) => {
    var jtimeitemstemp = new Date(isodate);
    var timestampwithoutoffset = jtimeitemstemp.getTime();
    var offset = jtimeitemstemp.getTimezoneOffset()  * 60 * 1000
    var timestampwithoutoffset = timestampwithoutoffset - offset;
    var utctime = new Date(timestampwithoutoffset);

    if(time){
        return formatAMPM(utctime);
    } else {
        return formatDay(utctime);
    }
}

const getBooking = () => {
    axios.get(route('lastbookings'))
        .then(res => {
            if(res.status==200 && res.data.success==true){
                var dataarray = [];
                res.data.data.forEach((element, index) => {
                    var utcdate = getUTCTime(element.bookings)
                    var utctime = getUTCTime(element.bookings, true)
                    var item = element;
                    item['utcdate'] = utcdate
                    item['utctime'] = utctime
                    dataarray.push(item);
                 });
                listcount.value = (dataarray.length>1)?true:false;
                bookings.value = dataarray;
            }
            //store.commit('SETSUBSCRIBESTAT', res.data.data);
        }).catch(error => {

            if (error.response) {
                msgerror(error.response.data.message)
            } else if (error.request) {
                msgerror(error.request)
                console.log(error.request);
            } else {
                msgerror(error.message)
            }
    })
}

//watch(() => {
  //  if(bookings.value){
        //console.log(bookings.data);
   // }
//})

getBooking()
</script>

<template>
    <div class="container marketing" v-if="bookings">
        <div class="row" >
            <template v-for="(item, key, index) in bookings" :key="index">
                <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center my-5 px-lg-5">
                    <div class="prefix col-md-2 mx-4 d-none d-md-block"><hr class="prefix-hr" /></div>
                    <div class="col-12 col-md-10">
                        <div class="list-counter">Q{{ key+1 }}</div>
                        <div class="list-title">{{ item.name }}</div>
                        <div class="list-title">{{ item.utcdate }}</div>
                        <div class="list-title">{{ item.utctime }}</div>
                        <p class="list-content">{{ item.description }}</p>
                    </div>
                </div>
            </template>
            <div v-if="!listcount" class="col-lg-4 d-flex flex-row justify-content-center align-items-center my-5 px-lg-5">
                &nbsp;
            </div>

            <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center my-5 px-lg-5 mainbackground"
                 v-bind:style="{ backgroundImage: 'url(/bgicon.svg)' }">
            </div>
        </div>
    </div>
</template>
