<template>
    <div class="hero-container">
        <div class="hero w-100 d-flex"
             v-bind:style="{ backgroundImage: 'url(/hero-river@2x.png)' }">

            <div class="container justify-content-top hero-logo">
                <div class="row mt-5">
                    <svgicon name="Logo" />
                </div>
            </div>
        </div>
    </div>
</template>
