<script setup>

</script>
<template>
    <div class="fixed-navigation w-100">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <svgicon name="Logo" />
                </a>
            </div>
        </nav>
    </div>
</template>
