<script setup>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import Footer from '@/Sections/Footer.vue'
    import Navigation from '@/Sections/Navigation.vue'


    defineProps({
        title: String,
    });
</script>

<template>
    <div>
        <Head title="title" />

        <!-- Page Content -->
        <main>
            <slot />
        </main>

        <Footer />
    </div>
</template>
